<template name="challenge">
  <div
    class="absolute bottom-20 flex h-20 w-full items-center justify-center bg-red-400 pl-6 text-xl"
  >
    <div>
      <span class="select-none">
        tapez le texte ci-dessus pour continuer :</span
      >
      <input
        class="challengeInput pointer-events-none p-1"
        type="text"
        id="fname"
        name="fname"
      />
      <span id="challengeStatus">🤖</span>
      <span id="challengeTimerSecs" class="font-mono">5</span>
      <span id="challengeTimerSeparator" class="font-mono">:</span>
      <span id="challengeTimerDecs" class="font-mono">99</span>
    </div>
  </div>
  <div
    class="text-l absolute bottom-0 flex h-20 w-full items-center justify-center bg-red-500 pl-6"
  >
    <span class="w-2/3">
      Ce vendredi 1er Décembre à 17H45, je vous invite à la première étape de
      travail de TRYHARD (un spectacle avec *un* ordinateur). Ça se passe
      évidemment chez nos camarades de
      <a
        class="text-green-400 underline"
        href="https://maps.app.goo.gl/2XFQo4JV8MGPhHHh8"
        >la Bellone</a
      >, rue de Flandre (Bruxelles).
    </span>
  </div>
</template>
