<template name="scoreLogger">
  <div id="scoreLogger" class="opacity-0 transition-opacity duration-1000">
    <p>Bravo, vous n'êtes pas un robot!</p>
    <p>Votre score :</p>
    <div class="grid grid-flow-row grid-rows-2 items-center gap-3">
      <div class="grid auto-cols-fr grid-cols-3 justify-center gap-3">
        <div>pseudo</div>
        <div>captchas complétés</div>
        <div>précision</div>
      </div>
      <div class="grid auto-cols-fr grid-cols-3 justify-center gap-3">
        <div>Boab</div>
        <div>12</div>
        <div>84%</div>
      </div>
    </div>
  </div>
</template>
